* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krungthep";
    font-size: 14pt;
    line-height: 130%;
}

@font-face {
    font-family: "Krungthep";
    src: url("Krungthep.woff");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 50pt;
}

h2 {
    font-size: 28pt;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 21pt;
    font-size: 21pt;
}

a  {
    color:black; 
    text-decoration: none;
}

li::before {
    content: "-";
    padding-right: 10pt;
}



#maincolumn {
    margin: 60px 120px 60px 120px;
    padding: 60px 120px 60px 120px;
    border: 2pt solid black;
    display: flex;
    flex-flow: column;
}

#title {
    margin-bottom: 60px;
}

.row-cell.logo {
    display: flex;
}

#logo {
    height: 187px;
    margin-right: 80px;
    min-width: 187px;
    background-image: url("logo.svg");
    background-size: contain;
    box-shadow: -15px 12px black;
}

#description {
    padding: 15px 20px;
    min-height: 100%;
    border: 2pt solid black;
    box-shadow: -15px 12px black;
}

.row-cell.coming {
    display: flex;
    justify-content: space-around;
    margin: 170px 100px 100px 100px;
}

#coming-soon {
    padding: 30px 30px 30px 30px;
    border: 2pt solid black;
}


.subtitle {
    margin-bottom: 60px;
}



/* Slideshow container */

.carousel {
    border: 2pt solid black;
    box-shadow: -15px 12px black;
    max-width: 100%;
    min-height: 300px;
    margin-bottom: 80px !important;
    position: relative;
    margin: auto;
}

/* Make the images invisible by default */
.Containers {
    display: none;
    
}


.Containers img {
    width: 100%;
    
}


/* forward & Back buttons */
.Back,
.forward {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 40px);
    height: 80px;
    width: 80px;
    border: 2pt solid black;
    user-select: none;
    background-color: white;
    font-size: 36pt;
    line-height: 70px;
}

/* Place the "forward button" to the right */
.Back{
    left: -40px;
    padding-left: 22px;
}
.forward {
    right: -40px;
    padding-right: 25px;
    text-align: right;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
    background-color: black;
    color: white;
}


/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}






#links {
    margin-left: 25%;
    margin-bottom: 80px;
}

#links-box {
    border: 2pt solid black;
    padding: 30px;
    
}

#links-box li {
    cursor: pointer;
    font-size: 24px;
    padding-bottom: 5px;
}



#video {
    border: 2pt solid black;
    box-shadow: -15px 12px black;
    width: 100%;
    min-height: 300px;
    margin-bottom: 80px;
}
